# Compiled Object files & Binaries
*.o
gen_text
mpi_search
mpi_search_seq

# Datasets / Large text files
*.txt
!CMakeLists.txt

# Python cache (if any used for plotting)
__pycache__/

# OS and Editor specific
.DS_Store
.idea/
.vscode/
*.swp
*~
